@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf")
    format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

:root {
  --text: rgb(37, 50, 55);
  --accent: #aa96ed;
}

body {
  background-color: #f8f8f8;
  color: var(--text);
  overflow-x: hidden !important;
}

#root {
  position: relative;
  overflow-x: hidden !important;
}

.preloader {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transition: opacity 350ms ease-in-out;
}

.op-0 {
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  color: inherit;
  font-size: 24pt;
  font-weight: 300;
}

.mobile-only {
  display: none !important;
}

@media only screen and (max-width: 992px) {
  .mobile-only {
    display: flex !important;
  }
}
